body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
}


.favButton {
  width: 20%;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: #ec3636;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  height: 40px;
  margin-top: 2rem;
}

footer>img {
  width: 200px;
  margin: 0;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 120px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 205px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid #000000;
  text-align: center;
  border-radius: 5px;
}

.card:hover {
  border: 0.5px solid #000000;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}


.dark {
  background-color: #3d0c0c;
  color: white;
 
}

.dark>a {
  color: white;
}

.iconos-container {
  display: flex;
  gap: 30px;
}

.foto {
  margin-right: 1300px;
 
}


.theme-container.light {
  background-color: #ffffff;
  color: #000;
  
}



.form-input-tag {
  width: 90%;
}

.btnForm {
  margin-left: 32px;
  width: 92.5%;
}

.contact{
 margin: 80px;
 display: flex;
 align-items: center;
justify-content: space-evenly;
}

.contact-form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.error{
  margin: 100px;
}

.error-msg {
  display: flex;
  justify-content: center;
  color: #ebebeb;
  font-weight: bold;
  margin-top: 25px;
  padding-left: 50px;
}

.imagen-card {
  height: 80px;
  width: 80px;
}

.card {
  background-color: #ffcece;
  color: #000000;
}

.card.dark {
  background-color: #ffcece;
  color: #000000;
}

.light .navbar {
  background-color: #ffb5b5;
  color: #ec3636;
}

.light .footer {
  background-color: #ffb5b5;
  color: #000000;
}

p,
h2 {
  text-align: center;
  padding-left: 20px;
  font-weight: bolder;
}



.btn-change,
.favButton,
.btnForm,
.btn-detail {
  background-color:#ec3636;
  border-radius: 5px;
  padding: 10px;
}

.btn-change:hover,
.favButton:hover,
.btnForm:hover,
.btn-detail:hover {
  background-color: #ec3636;

  border: #000;
  cursor: pointer;
}

.favButton:active,
.btn-detail:active{
  background-color: #fafafa;
}

.dark .btn-detail {
  color: #fafafa;
}

.dark .btn-change {
  color: #fafafa;
}

.dark .favButton {
  color: #fafafa;
}

footer>.icon-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0.5em;
}


.icon-container:hover {
  cursor: pointer;
}

.navbar.dark{
  background-color: #b10000
}

.footer.dark{
  background-color: #b10000
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.navbar-links li {
  margin-top: 5px;
  margin-right: 15px;
  font-weight: bolder;
}



.navbar.dark .navbar-links li a {
  color:#ffffff;
  
}

.form-input-tag {
  padding: 10px;
  border: 2px solid #f75454;
  border-radius: 4px;
  font-size: 16px;
  color: #2b2727;
  width: 100%;
  margin: 10px;
}



.btnRemoveFavs.light {
  background-color: #f75454;;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;
  width: 120px;
  height: 20px;
}

.btnRemoveFavs.dark {
  background-color: #f00303;;
  border-radius: 5px;
  border: none;
  color: #fafafa;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;
  width: 120px;
  height: 20px;
}
